@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TP4 - Indumentaria Web</h1>
    <h3 class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Crear" asp-action="SelectIndumentaria">Crear Indumentaria</a>
    </h3>
</div>

